.header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
}

.logo {
    max-height: 52px;
    margin-right: 24px;
}

.photos-container {
    margin: 76px 0 0 0;
    padding: 0 8px;
}

.footer {
    z-index: 0;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px 16px 8px 16px;
    display: flex;
    justify-content: center;
}
