.filter {
    .icon {
        font-size: 200%;
        margin-left: 12px;
    }

    .icon.has-filter {
        text-shadow: 0 0 4px #fff;
    }

    .filter-options {
        z-index: 100;
        background-color: black;
        opacity: 0.9;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;

        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .filter-options-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .title {
                font-size: 250%;
            }

            .subtitle {
                font-size: 150%;
            }

            .clear-btn {
                margin-left: 8px;
                display: inline-block;
            }

            .form-control {
                margin: 4px 0 8px 0;
                width: 100%;
            }

            .buttons {
                margin-top: 16px;
            }
        }
    }
}
