$photo-preview-height: 360px;
$border-radius: 8px;

.photos {
    * {
        box-sizing: border-box;
    }

    &>.view {
        z-index: 100;
        background-color: black;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
        overflow: auto;
        display: flex;
        justify-content: center;

        img {
            opacity: 1;
            margin: 8px;
        }
    }

    .item {
        display: flex;
        flex-direction: column;

        .photo {
            background-color: #111;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            overflow: clip;
            width: 100%;
            height: $photo-preview-height;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                max-width: 100%;
                max-height: $photo-preview-height;
            }

            .index, .similar {
                position: absolute;
                font-size: 200%;
            }

            .index {
                left: 0;
                top: 0;
                margin: -4px 6px;
            }

            .similar {
                right: 0;
                bottom: 0;
                margin: 4px 0;
            }
        }

        .legend {
            background-color: black;
            padding: 2px 8px;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            font-size: smaller;
        }
    }
}
