.photos * {
    box-sizing: border-box;
}

.photos>.view {
    z-index: 100;
    background-color: black;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.view.view-off {
    display: none;
}

.view.view-on {
    overflow: auto;
    display: flex;
    justify-content: center;
}

.view.view-on img {
    opacity: 1;
    margin: 8px;
}

.photos .item img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    display: block;
}

.photos .item .legend {
    font-size: smaller;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 2px 8px;
    background-color: black;
    display: flex;
    column-gap: 4px;
}

.legend .index,
.legend .similar {
    font-size: 200%;
}

.legend .metadata {
    flex-grow: 1;
}
