.retry-load-photo-tile {
    height: 240px;
    min-width: 200px;
    background-color: rgb(220, 20, 60, 0.2);
}

.photos .item .retry-load-photo-tile {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
